@import 'libs/font';
@import 'base/variables';

* {
    font-family: 'Montserrat', sans-serif;
}
    
.container{
    max-width: 1113px;
    margin: 0 auto;
}

@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/subheader';